.purchase-btn {
    border-radius: 50px;
    background: #FFCD1F;
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.30);
    color: #241442;
    font-family: $font-outfit;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.16px;
    text-transform: capitalize;
    padding: 15px 30px;
    &:hover {
        color: #241442;
    }
    &::before {
        background-color: $color-white;
    }
    margin-left: 90px;

    &--style-2 {
        margin-left: 0;
        background-color: $color-white;
        font-size: 18px;
        letter-spacing: 0.18px;
        padding: 16px 37px;
        box-shadow: none;
        svg {
            margin-left: 5px;
        }
        &::before {
            background-color: #FFCD1F;
        }
    }
}