.feature-section {
    background-image: url("../images/special-features/feature-section-bg.jpg");
    @include background-content;
    position: relative;
    z-index: 0;
    padding: 130px 0;

    .title-wrapper {
        position: relative;
        margin-bottom: 50px;
        .section-title {
            display: inline-block;
            margin-bottom: 12px;
            font-weight: 600;
            
            @include media-only ('sm', min) {
                padding: 0 50px;
            }

        }

        .title-shape {
            position: absolute;
            top: 18%;
            right: 22%;
            z-index: -1;
        }
    }

    .shape-parallax-list {
        li {
            position: absolute;
            z-index: -1;
            &:nth-child(1) {
                left: 0;
                bottom: 0;
            }
            &:nth-child(2) {
                top: 143px;
                right: 131px;
            }
        }
    }
}