.sidebar-widget-wrapper {
    background: #FBFBFB;
    border-radius: 20px;
    padding: 50px 42px;
    .title {
        font-family: $font-roboto;
        font-weight: 600;
        @include toRem(font-size, 22);
        line-height: 26px;
        color: $color-title;
        margin-bottom: 15px;
    }
}